<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Gestão de Departamentos</title>
</head>
<body>
    <header>
        <h1>Sistema de Gestão de Departamentos</h1>
    </header>
    <nav>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="criar-departamento.html">Cadastrar</a></li>
        </ul>
    </nav>
    <main>
        <section id="departamentos">
            <header>
                <h2>Departamentos</h2>
            </header>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nome</th>
                        <th>Descrição</th>
                        <th>Ação</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </section>
    </main>
    <footer>
        <p>© Todos os direitos reservados</p>
    </footer>
    <script src="../js/departamento.js"></script>
</body>
</html>